* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 78%;

  margin: auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.introduce {
  padding-top: 30px;
}
.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-contact {
  display: flex;
  align-items: center;
}
.button-web ul {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
  border-radius: 16px;
  margin: 0;
  padding: 0 30px;
  display: inline-block;
  overflow: hidden;
}

.button-contact .button-web a {
  text-decoration: none;
  padding-left: 30px;
  font-weight: 500;
  color: black;
}
.button-contact .button-web span {
  display: inline-block;
  transition: all 0.3s;
}
.button-web a:hover {
  color: #f55f8d;
}
.button-web a:hover span {
  animation: upToDown 0.3s;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

.button-contact i {
  font-size: 10px;
  transition: 0.3s;
}
.button-contact .button-web a:hover {
  margin-top: 0;
}
.button-contact .button-main {
  display: block;
  margin-left: 45px;
  padding: 20px 45px 20px 45px;
  border-radius: 30px;
  overflow: hidden;
  border: none;
  transition: 0.3s;
  font-weight: 400;
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
.button-contact .button-main:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
/* imform-job */
.job-container {
  display: flex;
  align-items: flex-start;
  padding-top: 180px;
  justify-content: space-evenly;
}
.job-left h5 {
  font-weight: 600;
  font-size: 20px;
  color: #f55f8d;
  padding-bottom: 20px;
  margin-top: 50px;
  
}
.job-left h1 {
  font-weight: 600;
  font-size: 70px;
  animation-delay: 1s;
}
.job-left p {
  color: #636363;
  padding: 10px 0;
  font-size: 18px;
  animation-delay: 2s;
}
.job-left .stick-coler{
  animation-delay: 3s;
}
.job-left .coler {
  padding-bottom: 50px;
}
.job-left .stick-coler i {
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 50%;
  color: white;
  padding: 8px;
  font-size: x-large;
  margin-right: 10px;
}
.job-left .button-start {
  border-radius: 50px;
  text-decoration: none;
  color: white;
  padding: 20px 45px 20px 45px;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  transition: 0.5s;
  animation-delay: 4s;
}
.job-left .button-start:hover {
  background-position: right center;
}
.job-right {
  display: inline-block;
  overflow: clip;
  overflow-clip-margin: 150px;
}
.job-right img {
  padding-right: 150px;
  
}
.imform-job {
  background-image: url(./pic/bg16.png);
  background-position: top;
  background-size: 100%;
}
/* imform-service */
.imform-service {
  text-align: center;
  padding-top: 150px;
  background-image: url(./pic/bg2.png);
  background-color: #fefefe;
}
.imform-service h3 {
  color: #f55f8d;
  font-weight: 600;
  font-size: 25px;
}
.imform-service h1 {
  font-size: 70px;
  padding: 20px 0;
}
.List {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 25px;
}
.box img {
  width: 100%;
  padding: 20px 50px;

  overflow: clip;
  overflow-clip-margin: content-box;
}
.box {
  background-color: #ffffff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid transparent;

  transition: 0.5s;
  transform: translateY(0px);
}
.box p {
  color: #636363;
  padding: 20px 20px 10px 20px;
  line-height: 25px;
}
.box:hover {
  transform: translateY(-30px);
  border-image: url(./pic/br.png) 1 round;
}
/* About Us */
.imform-about-us {
  padding-top: 100px;
  
}
.about-us {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  
}

.about-us-left img {
  border-radius: 0 100px 100px 0;
 width: 80%; 
 height: 500px;
}
.about-us-left {
    width: 60%;
    position: absolute;
   left: -50px;
   object-fit: cover;
}
.about-us-right{
    width: 50%;
}
.about-us-right .button-learn a {
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 20px 45px 20px 45px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.about-us-right .button-learn a:hover {
  background-position: right center;
}
.check-point {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.check-point i {
  background-size: 200%;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  padding: 2px;
  color: #f55f8d;
  margin-right: 5px;
}
.about-us-right h3 {
  color: #f55f8d;
  font-weight: 700;
  font-size: 20px;
}
.about-us-right h1 {
  font-weight: 700;
  font-size: 70px;
}
.about-us-right p,
.check-point p {
  color: #636363;
  line-height: 25px;
}
.button-learn {
  padding-top: 50px;
}
/* number */
.number {
  padding-top: 100px;
  align-items: center;
  background-image: url(./pic/bg14.png);

  background-position: center;

  margin-top: 100px;
  padding: 90px 0 50px 0;
}
.number-container {
  display: flex;

  text-align: center;
}
.item-counter {
  width: 25%;
}
.number-unit {
  display: flex;

  justify-content:center;
 
}
.item-counter i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number-unit span{
    font-size: 60px;
    font-weight: 800;
    padding-right: 5px;
    color: #f55f8d;
}
.number-unit h1{
    font-weight: 800;
    font-size: 60px;
    color: #f55f8d;
}
/* imform-feature */
.imform-feature{
    padding-top: 100px;
}
.feature-container{
    display: flex;
    align-items: center;
}
.feature-left{
    width: 45%;
    position: relative;
}
.feature-left h4{
    color: #f55f8d
    ;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 10px;
}
.feature-left h1{
    font-weight: 700;
    font-size: 60px;
}
.feature-left .feature-box{
    
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 40px 0px 40px 10px;
    margin: 20px 0;
    line-height: 25px;
    transition: 1s;
    position: relative;
    
    
}
.feature-hover{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    
    
}
.feature-hover i{
    font-size: 80px;
    margin-right: 20px;
    color: #f55f8d;
    z-index: 1;
    transition: 1s;
}
.feature-hover h3{
    color: black;
    
}
.feature-hover p{
    color: #636363;
}
.box-space{
    position: relative;
    left: 50px;
    animation-delay: 0.3s;
}
.box1{
  animation-delay: 0.4s;
}
.text-box{
    z-index: 1;
    transition: 1s;
}


.feature-box::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    border-radius:10px;   
    
}

.feature-box:hover::after  {
    opacity: 1;
    
  }
 
 





.feature-right{
    width: 50%;
    margin-left: 50px;
    display: clip;
    overflow-clip-margin: content-box;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
position: relative;
    
}
.feature-right img{
    height: 700px;
    
    animation: animation_shake 5s infinite;
    position: absolute;
    top: -400px;
    right: -20%;


 
}
@keyframes animation_shake {
    0% { transform: translate(10px, 10px) rotate(5deg); }
    50% { transform: translate(-10px, +10px) rotate(-5deg); }
    100%{ transform: translate(10px, 10px) rotate(5deg); }
    
}
/* portfolio */
.portfolio {
  background-image: url(./pic/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  overflow: hidden;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio-item1 {
  grid-column: 1 / span 2;
}

.portfolio-item5 {
  grid-column: 1 / span 2;
}

.portfolio-item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.portfolio-item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio-item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: 0.75s;
}
.portfolio-item:hover::before {
  left: 125%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.75s;
}
.portfolio-icon {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 28px;
  color:white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: 0.75s;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}
.portfolio-icon {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 28px;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: 0.75s;
}

.portfolio-icon a {
  color: white;
}

.portfolio-item:hover .portfolio-icon {
  transform: translate(0);
}
.portfolio-icon { text-align: center;}

.portfolio-icon a {
  cursor: pointer;
  
}
.portfolio-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: 0.75s;
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
}

.portfolio-text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}

.portfolio-text p {
  color: white;
  opacity: 0.7;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end porfolio */
/* our Blog */
.imform-ourblog{
    padding-top: 150px;
}
.ourblog-container{
    text-align: center;
    
}
.ourblog-container h3{
    color: #f55f8d;
    font-size: 20px;
}
.ourblog-container h2{
    font-weight: 700;
    font-size: 70px;
    padding: 20px 0 15px 0;
}
.item{
    background-color: rgb(254,239,243);
    text-align: left;
    position: relative;
    border-radius: 10px;
    
}
.item .carousel-date {
    
    display:inline-block;
    background-size: 200%;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
      );
      padding: 15px 20px 15px 20px ;
      border-radius: 10px;
      color: white;
      position: absolute;
      top:195px;
      left: 10px;
}

.item img{
    border-radius: 10px;
    width: 100%;
}
.carouseltext{
    padding: 40px 20px 50px 20px;
    line-height: 25px;
}
.carousel-comment{
    display: flex;
    border-top: 1px solid rgb(242,227,231);
    padding: 20px;
}
.comment-guest, .comment-main{
    display: flex;
    justify-content: left;
    align-items: center;
}
.comment-guest{
    padding:0 20px 0px 0px;
}
.carousel-comment i{
    font-size: 25px;
    color: #f55f8d;
}
.comment-guest span{
    color: #f55f8d;
}
   /* footer */
   footer{
   background-image: url(./img/bg17.png);
   background-color: #0e1b1f;
   background-size: contain;
   color: #fff;
   font-size: 15px;
   position: relative;
   margin-top: 100px;
   }
  
    
   footer::before {
    content: "";
    background-image: url(./pic/pattern2.png);
    background-position: left top;
   background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
    .footer-top{
      padding: 50px 60px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
      background-image: url(./pic/pattern3.png);
      background-position: center;
      
      background-size: cover;
      position: relative;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-word h1 {
      font-size: 28px;
      color: #262626;}
    .footer-word,
    .footer-form {
        width: 50%;
    }
    .footer-form form {
      display: flex;
      border-radius: 10px;
      box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
  }
  .footer-form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: white;
    flex: 1 1 auto;
    border-radius: 10px 0 0 10px;
    border: 1px solid white;
    outline: none;
    transition: 0.5s;
}

.footer-form input:hover {
    border-color: #f55f8d;
}
.footer-form button {
  padding: 20px ;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 10px 10px 0;
  color: white;
  cursor: pointer;
}
.footer-form button:hover {
  background-position: right center;
}

.footer-form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}
.footer-botom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer-item {
  width: 25%;
}

.footer-item h1 {
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer-item h1::before,
.footer-item h1::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    height:5px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}
.footer-item h1::before {
  width: 15px;
}

.footer-item h1::after {
  width: 45px;
  left: 20px;
}
.footer-contact ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer-contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;

}
.footer-item li {
  padding: 10px 0;
}

.footer-item li {
  color: #636363;
  font-size: 16px;
  transition: 0.5s;
}
.footer-item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer-item li:hover {
  color: white;
}
.footer-user{background-color: #636363;}
.footer-use {
  display: flex;
  justify-content: space-between;
  background-color: #636363;
}
 .user-right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}
.footer-left span {
  color: #f55f8d;
}
.user-right a:hover{
  background-color: 
  #f55f8d;

}
/* backtop */
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;

}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
@keyframes toLeftFromRight {
  49% {
      transform: translateX(100%);
  }

  50% {
      opacity: 0;
      transform: translateX(-100%);
  }

  51% {
      opacity: 1;
  }
}



